@layout('layouts/main')

@section('content')

  <form action="{{ route('auth.login') }}" method="POST">
    {{ csrfField() }}

    @if (flashMessages.has('form'))
      <div role="alert">
        {{ flashMessages.get('form') }}
      </div>
    @endif

    <label>
      Username or Email
      <input type="text" name="uid" />
    </label>

    <label>
      Password
      <input type="password" name="password" />
    </label>

    <button type="submit">Login</button>
  </form>


@endsection
